@page "/conferences/{mode}/{id:guid}"
@using TT.ConfTool.Client.Models

<ConferenceDetailsHeader Mode="@Mode"></ConferenceDetailsHeader>

<MudPaper Class="py-8 px-4" Elevation="2">

    <EditForm class="d-flex flex-column" style="gap: 20px;" Model="_conferenceDetails">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <FluentValidationValidator></FluentValidationValidator>
        <ValidationSummary />
        <div class="form-group">
            <MudInput Class="full-width" Label="Title" Disabled="@_isShow" @bind-Value="_conferenceDetails.Title" Placeholder="Title of the conference"></MudInput>
        </div>
        <div class="form-group">
            <MudInput Class="full-width" Label="City" Disabled="@_isShow" @bind-Value="_conferenceDetails.City" Placeholder="City of the conference"></MudInput>
        </div>
        <div class="form-group">
            @if (Mode == ConferenceDetailsModes.Show)
            {
                <MudInput Class="full-width" Label="Country" Disabled="@_isShow" @bind-Value="_conferenceDetails.Country" Placeholder="Country of the conference"></MudInput>
            }
            else if (_countries != null)
            {
                <MudSelect T="string" Label="Country" @bind-Value="_conferenceDetails.Country" AnchorOrigin="Origin.BottomCenter">
                    @foreach (string country in _countries)
                    {
                        <MudSelectItem Value="@country" />
                    }
                </MudSelect>
            }
        </div>
        <div class="form-group">
            <MudDatePicker Disabled="@_isShow" @bind-Date="_conferenceDetails.DateFrom" Placeholder="Begin"></MudDatePicker>
        </div>
        <div class="form-group">
            <MudDatePicker Disabled="@_isShow" @bind-Date="_conferenceDetails.DateTo" Placeholder="End"></MudDatePicker>
        </div>
        <div class="d-flex justify-end form-actions">
            @if (Mode != ConferenceDetailsModes.Show)
            {
                <MudButton Variant="Variant.Outlined" OnClick="Cancel">Cancel</MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" OnClick="SaveConference">Speichern</MudButton>
            }
        </div>
    </EditForm>

</MudPaper>